<div class="container">

  <div class="page-title mt-3">
    <h2>ユーザー詳細</h2>
  </div>

  <div class="row user-show-top-box d-flex justify-content-center">

    <div class="user-show-top-box-left mt-3 mr-5 ml-5">
      <div class="user-show-top-box-left-image show-image-border">
        <% if @user.image? %> 
          <%= image_tag @user.image.to_s, class: 'user-show-image' %>
        <% else %>
          <%= image_tag 'default.png', class: 'user-show-image' %>
        <% end %>
      </div>
      <div class="user-show-top-box-left-relationship d-flex justify-content-center">
        <div class="follow m-1">
          <%= link_to(followings_user_path(@user.id), class: "user-show-link") do %>
            <h4><%= @user.followings.count %></h4>
            <h6>フォロー</h6>
          <% end %>
        </div> 
        <div class="follower m-1">
          <%= link_to(followers_user_path(@user.id), class: "user-show-link") do %>
            <h4 id="followers"><%= @user.followers.count %></h4>
            <h6>フォロワー</h6>
          <% end %>
        </div>
      </div>
    </div>

    <div class="user-show-top-box-right col-md-6 mx-5 mt-4">
      <div class="user-show-top-box-right-info">
        <p class="info-text">ユーザー名<span class="info-text-insert pr-5"><%= @user.username %></span></p>
        <p class="info-text">性別<span class="info-text-insert pr-5"><%= @user.sex_i18n %></span></p>
        <p class="info-text">年齢<span class="info-text-insert pr-5"><%= @user.ages_i18n %></span></p>
        <p class="info-text">好きなゲーム<span class="info-text-insert pr-5"><%= @user.favorite %></span></p>
      </div>
      <div class="btn-position">
        <% if @user.id == current_user.id %>
          <%= link_to 'ユーザー情報編集', edit_user_registration_path(@user.id), class: 'btn-black' %>
        <% else %>
          <div id="follow_form">
            <%= render "/partial/follow_form" %>
          </div>
        <% end %>
      </div>
    </div>

  </div>

  <div class="row user-show-bottom-box d-flex justify-content-center mt-3">

    <div class="user-show-bottom-box-left col-md-5 mx-3">
      <% if @not_cleared_games.any? %>
        <h6>未クリア（<%= link_to '一覧へ', mygames_user_path(@user.id, name: 'not_cleared'), class: 'user-show-link' %>）</h6>
        <% if @not_cleared_games.count >= 3 %>
          <div class="slider">
            <%= render '/partial/user_show_not_cleared' %>
          </div>
        <% elsif @not_cleared_games.count <= 2 %>
          <div class="d-flex justify-content-center">
            <%= render '/partial/user_show_not_cleared' %>
          </div>
        <% end %>
      <% else %>
        <div class="btn-position my-5">
          <h5>未クリアのゲームはありません</h5>
        </div>
      <% end %>
    </div>
    
    <div class="user-show-bottom-box-right col-md-5 mx-3">
      <% if @cleared_games.any? %>
        <h6>クリア済み（<%= link_to '一覧へ', mygames_user_path(@user.id, name: 'cleared'), class: 'user-show-link' %>）</h6>
        <% if @cleared_games.count >= 3 %>
          <div class="slider">
            <%= render '/partial/user_show_cleared' %>
          </div>
        <% elsif @cleared_games.count <= 2 %>
          <div class="d-flex justify-content-center">
            <%= render '/partial/user_show_cleared' %>
          </div>
        <% end %>
      <% else %>
        <div class="btn-position my-5">
          <h5>クリア済みゲームはありません</h5>
        </div>
      <% end %>
    </div>

  </div>

</div>