<div class="container back">
  <div class="row">

    <div class="col-md-4">
      <% if @user.image? %> 
        <%= image_tag @user.image.to_s %>
      <% else %>
        <%= image_tag 'default.png', class: 'default-image' %>
      <% end %>
    </div>

    <div class="col-md-6">
      <h1>about me</h1>
      <h6>ユーザー名 : <%= @user.username %></h6>
      <h6>性別 : <%= @user.sex_i18n %></h6>
      <h6>年齢 : <%= @user.ages_i18n %></h6>
      <h6>お気に入り : <%= @user.favorite %></h6>

      <div class="d-flex m-1">
      <div class="follower mr-2">
        <%= link_to followers_user_path(@user.id) do %>
          <h4 id="followers" class="text-dark"><%= @user.followers.count %></h4>
          <h6>フォロワー</h6>
        <% end %>
      </div> 
      <div class="follow">
        <%= link_to followings_user_path(@user.id) do %>
          <h4 class="text-dark"><%= @user.followings.count %></h4>
          <h6>フォロー</h6>
        <% end %>
      </div>
    </div>
      <div id="follow_form">
        <%= render "/partial/follow_form" %>
      </div>
      <h5><%= link_to 'ユーザー情報編集', edit_user_registration_path(@user.id) %></h5>
    </div>

    <div class="col-md-4">
      <h3>未クリア : <%= @not_clear_games.count %></h3>
      <h3>クリア済み : <%= @cleared_games.count %></h3>
      <h3>気になる : <%= @like.count %>
    </div>

  <!-- 未クリアスライド -->
    <div class="col-md-6">
      <% if @not_clear_games.any? %>
        <h6>未クリア : <%= @not_clear_games.count %></h6>
        <% if @not_clear_games.count >= 3 %>
          <div class="slider3">
            <% @not_clear_games.each do |games| %>
              <% if games.image? %>
                <div class="col-md-2">
                  <%= image_tag games.image.to_s, class: 'slide-image' %>
                  <p><%= games.title %></p>
                </div>
              <% else %>
                <div class="col-md-2">
                  <%= image_tag 'no-image.png', class: 'slide-image' %>
                  <p><%= games.title %></p>
                </div>
              <% end %>
            <% end %>
          </div>
        <% elsif @not_clear_games.count == 2 %>
          <div class="slider2">
            <% @not_clear_games.each do |games| %>
              <% if games.image? %>
                <div class="col-md-4">
                  <%= image_tag games.image.to_s, class: 'slide-image' %>
                  <p><%= games.title %></p>
                </div>
              <% else %>
                <div class="col-md-4">
                  <%= image_tag 'no-image.png', class: 'slide-image' %>
                  <p><%= games.title %></p>
                </div>
              <% end %>
            <% end %>
          </div>
        <% elsif @not_clear_games.count == 1 %>
          <div class="slider1">
            <% @not_clear_games.each do |games| %>
              <% if games.image? %>
                <div class="col-md-4">
                  <%= image_tag games.image.to_s, class: 'slide-image' %>
                  <p><%= games.title %></p>
                </div>
              <% else %>
                <div class="col-md-4">
                  <%= image_tag 'no-image.png', class: 'slide-image' %>
                  <p><%= games.title %></p>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <h5>未クリアのゲームはありません</h5>
      <% end %>
    </div>
  
  <!-- クリア済みスライド -->
    <div class="col-md-6">
      <% if @cleared_games.any? %>
        <h6>クリア済み : <%= @cleared_games.count %></h6>
        <% if @cleared_games.count >= 3 %>
          <div class="slider3">
            <% @cleared_games.each do |games| %>
              <% if games.image? %>
                <div class="col-md-2">
                  <%= image_tag games.image.to_s, class: 'slide-image' %>
                  <p><%= games.title %></p>
                </div>
              <% else %>
                <div class="col-md-2">
                  <%= image_tag 'no-image.png', class: 'slide-image' %>
                  <p><%= games.title %></p>
                </div>
              <% end %>
            <% end %>
          </div>
        <% elsif @cleared_games.count == 2 %>
          <div class="slider2">
            <% @cleared_games.each do |games| %>
              <% if games.image? %>
                <div class="col-md-4">
                  <%= image_tag games.image.to_s, class: 'slide-image' %>
                  <p><%= games.title %></p>
                </div>
              <% else %>
                <div class="col-md-4">
                  <%= image_tag 'no-image.png', class: 'slide-image' %>
                  <p><%= games.title %></p>
                </div>
              <% end %>
            <% end %>
          </div>
        <% elsif @cleared_games.count == 1 %>
          <div class="slider1">
            <% @cleared_games.each do |games| %>
              <% if games.image? %>
                <div class="col-md-4">
                  <%= image_tag games.image.to_s, class: 'slide-image' %>
                  <p><%= games.title %></p>
                </div>
              <% else %>
                <div class="col-md-4">
                  <%= image_tag 'no-image.png', class: 'slide-image' %>
                  <p><%= games.title %></p>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <h5>クリア済みゲームはありません</h5>
      <% end %>
    </div>

  </div>
</div>