<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>情報編集</h2>
      <%= form_with(model: @game, local: true) do |f|  %>
        <h3>タイトル</h3>
        <%= f.text_field :title, class: 'form-control' %>

        <h3>ハード</h3>
        <%= f.select :machine, Game.machines.keys.map {|k| [I18n.t("enums.game.machine.#{k}"), k]}, {}, 
            class: 'form-control col-md-6' %>

        <h3>ジャンル</h3>
        <%= f.select :genre, Game.genres.keys.map {|k| [I18n.t("enums.game.genre.#{k}"), k]}, {}, 
            class: 'form-control col-md-6' %> 

        <h3>画像</h3>
        <%= f.file_field :image %>
        
        <%= f.submit '変更する', class: 'btn btn-secondary btn-lg', name: 'not_clear' %>
      <% end %>

      <%= link_to "Back", :back %>
    </div>
  </div>
</div>