<div class="page-title mt-3 mb-5">
  <h2>ゲーム情報編集</h2>
</div>

<div class="edit-login-box">
  <%= form_with(model: @game, local: true) do |f|  %>

    <div class="edit-login-box-field">
      <%= f.label :title, "タイトル", class: "edit-login-box-field-text" %><br />
      <%= f.text_field :title, class: 'edit-login-box-field-form' %>
    </div>

    <div class="edit-login-box-field">
      <%= f.label :machine, "プラットフォーム", class: "edit-login-box-field-text" %><br />
      <%= f.select :machine, Game.machines.keys.map {|k| [I18n.t("enums.game.machine.#{k}"), k]}, {}, 
              class: 'edit-login-box-field-form' %>
    </div>

    <div class="edit-login-box-field">
      <%= f.label :genre, "ジャンル", class: "edit-login-box-field-text" %><br />
      <%= f.select :genre, Game.genres.keys.map {|k| [I18n.t("enums.game.genre.#{k}"), k]}, {}, 
              class: 'edit-login-box-field-form' %>
    </div>

    <div class="edit-login-box-field">
      <%= f.label :image, "画像", class: "edit-login-box-field-text" %><br />
      <%= f.file_field :image %>
    </div>
        
    <div class="edit-login-box-field pt-4">
      <%= f.submit '変更する', class: 'btn-blue m-3', name: 'not_clear' %>
      <%= link_to "Back", :back, class: "btn-black m-3" %>
    </div>

  <% end %>

</div>