<% if user_signed_in? %>
  <div class="header-position">

    <div class="header d-flex">
      <%= link_to 'TSUMI GAMES', user_path(current_user), class: 'navbar-brand header-logo' %>  
      <a class="nav-link dropdown-toggle ml-auto header-list mr-3" id="dropdown01" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= current_user.username %></a>
      <div class="dropdown-menu  dropdown-menu-right text-center" aria-labelledby="dropdown01">
        <%= link_to 'マイページ', user_path(current_user), class: 'dropdown-item' %>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
      </div>
    </div>
    <div class="header-menu bg-light shadow-sm">
      <nav class="nav justify-content-center">
        <%= link_to 'ゲーム検索', '/games', class: 'nav-link header-menu-item' %>
        <%= link_to 'ユーザー一覧', '/users', class: 'nav-link header-menu-item' %>
        <%= link_to '積みゲー追加', new_game_path, class: 'nav-link header-menu-item' %>    
        <%= link_to 'マイゲーム', mygames_user_path(current_user.id, name: 'all'), class: 'nav-link header-menu-item' %>
        <%= link_to '気になる', likes_user_path(current_user.id), class: 'nav-link header-menu-item' %>
        <%= link_to 'フォロー', followings_user_path(current_user.id), class: 'nav-link header-menu-item' %>
        <%= link_to 'フォロワー', followers_user_path(current_user.id), class: 'nav-link header-menu-item' %>
      </nav>
    </div>

  </div>
<% else %>
  <div class="header d-flex">
    <%= link_to 'TSUMI GAMES', root_path, class: 'navbar-brand header-logo' %>
    <nav class="my-2 ml-auto mr-2">
      <%= link_to '新規登録', new_user_registration_path, class: 'header-list p-2' %>
      <%= link_to 'ログイン', new_user_session_path, class: 'header-list p-2' %>
      <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: 'header-list p-2' %>
    </nav>
  </div>
  <div class="header-menu bg-light shadow-sm">
      <nav class="nav justify-content-center">
        <%= link_to 'ゲーム検索', '/games', class: 'nav-link header-menu-item' %>
        <%= link_to 'ユーザー一覧', '/users', class: 'nav-link header-menu-item' %>
        <%= link_to '積みゲー追加', new_game_path, class: 'nav-link header-menu-item' %>    
      </nav>
    </div>
<% end %>