<h1>マイゲーム</h1>
<div class="container">
  <div class= "text-center mx-auto mb-4 h2">
    <%= link_to '全て', { controller: 'gamers', action: 'mygames', sta: 'none' }, class: 'text-secondary' %>
    <span class="text-dark px-2">/</span>
    <%= link_to '未クリア', { controller: 'gamers', action: 'mygames', sta: 'not_cleared' }, 
            class: 'text-dark font-weight-bold' %>
    <span class="text-dark px-2">/</span>
    <%= link_to 'クリア済み',{ controller: 'gamers', action: 'mygames', sta: 'cleared' }, class: 'text-secondary' %>
  </div>
  <div class="row">
    <% @not_cleared.each do |game| %>
      <div class="col-md-4 bg-white border dorder-dark rounded m-1 d-block">
        <%= link_to game_path(game.id) do %>
          <h3 class="text-dark"><%= game.title %></h3>
          <h5 class="text-dark"><%= game.machine_i18n %></h5>
          <h5 class="text-dark"><%= game.genre_i18n%></h5>
        <% end %>
      </div>
    <% end %>
  </div>
</div>