<% if params[:sta] == 'all' %>
  <div class="d-flex h2">
    <p class='mygame-select-now'>全て</p>
    <span class="text-dark px-2">/</span>
    <%= link_to '未クリア', { controller: 'users', action: 'mygames', sta: 'not_cleared' }, class: 'mygame-select-list' %>
    <span class="text-dark px-2">/</span>
    <%= link_to 'クリア済み', { controller: 'users', action: 'mygames', sta: 'cleared' }, class: 'mygame-select-list' %>
  </div>
<% elsif params[:sta] == 'not_cleared' %>
  <div class="d-flex h2">
    <%= link_to '全て', { controller: 'users', action: 'mygames', sta: 'all' }, class: 'mygame-select-list' %>
    <span class="text-dark px-2">/</span>
    <p class='mygame-select-now'>未クリア</p>
    <span class="text-dark px-2">/</span>
    <%= link_to 'クリア済み',{ controller: 'users', action: 'mygames', sta: 'cleared' }, class: 'mygame-select-list' %>
  </div>
<% elsif params[:sta] == 'cleared' %>
  <div class="d-flex h2">
    <%= link_to '全て', { controller: 'users', action: 'mygames', sta: 'all' }, class: 'mygame-select-list' %>
    <span class="text-dark px-2">/</span>
    <%= link_to '未クリア', { controller: 'users', action: 'mygames', sta: 'not_cleared' }, class: 'mygame-select-list' %>
    <span class="text-dark px-2">/</span>
    <p class='mygame-select-now'>クリア済み</p>
  </div>
<% end %>