<% @cleared_games.each do |game| %>
  <% if game.image? %>
    <%= link_to(game_path(game.id), class: 'col-5 slide-link') do %>
      <%= image_tag game.image.to_s, class: 'slide-image' %>
      <p class="item-text-title"><%= game.title %></p>
    <% end %>    
  <% else %>
    <%= link_to(game_path(game.id), class: 'col-5 slide-link') do %>
      <%= image_tag 'no-image.png', class: 'slide-image' %>
      <p class="item-text-title"><%= game.title %></p>
    <% end %>
  <% end %>
<% end %>
