<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>情報編集</h2>
      <%= form_with(model: @game, local: true) do |f|  %>
        <h3>タイトル</h3>
        <%= f.text_field :title, class: 'form-control' %>

        <h3>ハード</h3>
        <%= f.select :machine, Game.machines.keys.map {|k| [I18n.t("enums.game.machine.#{k}"), k]}, {}, 
            class: 'form-control col-md-6' %>

        <h3>ジャンル</h3>
        <%= f.select :genre, Game.genres.keys.map {|k| [I18n.t("enums.game.genre.#{k}"), k]}, {}, 
            class: 'form-control col-md-6' %>

        <div class="form-group" id="star">
          <%= f.label :rate,  '評価' ,class: 'col-md-3 col-form-label' %>
          <%= f.hidden_field :rate, id: :review_star %>
        </div>

        <script>
        $('#star').raty({
          size     : 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          scoreName: 'game[rate]',
          half: true,
        });
        </script> 
        <%= f.submit '変更する', class: 'btn btn-secondary btn-lg' %>
      <% end %>
    </div>
  </div>
</div>