<div class="page-title mt-3 mb-5">  
  <h2>積みゲー登録</h2>
</div>

<div class="edit-login-box">

  <%= form_with(model: @game, local: true) do |f| %>

    <div class="edit-login-box-field">
      <%= f.label :title, 'タイトル', class: 'edit-login-box-field-text' %><br />
      <%= f.text_field :title, class: 'edit-login-box-field-form' %>
      <div class="error-message">
        <% @game.errors.full_messages_for(:title).each do |message| %>
          <%= message %>
        <% end %>
      </div>
    </div>

    <div class="edit-login-box-field">
      <%= f.label :machine, 'プラットフォーム', class: 'edit-login-box-field-text' %><br />
      <%= f.select :machine, Game.machines.keys.map {|k| [I18n.t("enums.game.machine.#{k}"), k]}, 
                {include_blank: '選択なし'}, class: 'edit-login-box-field-form' %>
      <div class="error-message">
        <% @game.errors.full_messages_for(:machine).each do |message| %>
          <%= message %>
        <% end %>
      </div>
    </div>

    <div class="edit-login-box-field">
      <%= f.label :genre, 'ジャンル', class: 'edit-login-box-field-text' %><br />
      <%= f.select :genre, Game.genres.keys.map {|k| [I18n.t("enums.game.genre.#{k}"), k]}, 
                {include_blank: '選択なし'}, class: 'edit-login-box-field-form' %>
      <div class="error-message">
        <% @game.errors.full_messages_for(:genre).each do |message| %>
          <%= message %>
        <% end %>
      </div>
    </div>

    <div class="edit-login-box-field">        
      <%= f.label :image, '画像', class: 'edit-login-box-field-text' %><br />
      <%= f.file_field :image %>
    </div>

    <div class="edit-login-box-field pt-3">
      <%= f.submit '積みゲーを追加', class: 'btn-red' %>
    </div>

  <% end %>

</div>
