<div class="container">

  <div class="page-title mt-3 mb-5">
    <h2>ゲーム詳細</h2>
  </div>

  <div class="row game-show-box d-flex justify-content-center">
  
    <div class="game-show-box-left mx-5">
      <div class="game-show-box-left-image show-image-border">
        <%= render "/partial/game_show_image" %>
      </div>
      <div class="game-show-box-left-btn btn-position mt-3">
        <% if @game.user_id == current_user.id %>
          <% if @game.status == 0 %>
            <%= link_to '編集する', edit_game_path(@game, name: "not_cleared"), class: 'btn-black m-2' %>
          <% else  %>
            <%= link_to '編集する', edit_game_path(@game, name: "cleared"), class: 'btn-black m-2' %>
          <% end %>
          <%= link_to '削除', game_path(@game), method: :delete, class: 'btn-black m-2' %>
        <% else %>
          <div id="like_form">
            <%= render "/partial/like" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="game-show-box-right col-md-6 mx-5 mt-3">
      <div class="game-show-box-right-top">
        <%= render '/partial/game_info' %>
        <% if @game.status != 0 %>
          <p class="info-text">クリア日<span class="info-text-insert pr-5"><%= @game.clear_day.strftime("%Y年%m月%d日") %></span></p>
        <% end %>
      </div>

      <div class="game-show-box-right-bottom">
        <% if @game.status == 0 %>
          <% if @game.user_id == current_user.id %>
            <div class="btn-position">
              <%= link_to 'クリア報告', edit_game_path(@game, name: "clear"), class: 'btn-black mt-2' %>
            </div>
          <% end %>
        <% else %>
          <div id="star-rate-<%= @game.id %>"></div>
          <script>
          $('#star-rate-<%= @game.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= @game.rate %>,
          });
          </script>
          <h5 class="review-comment p-1 m-1"><%= @game.comment %></h5>
        <%end %>
      </div>
    </div>

  </div>  
</div>
