<div class="sign-title">
  <h1>ログイン</h1>
</div>

<div class="edit-login-box">

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="error-message">
      <%= render '/partial/login_error' %>
    </div>
    
    <div class="edit-login-box-field">
      <%= f.label :email, "メールアドレス", class: "edit-login-box-field-text" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "edit-login-box-field-form" %>
    </div>

    <div class="edit-login-box-field">
      <%= f.label :password, "パスワード", class: "edit-login-box-field-text" %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "edit-login-box-field-form" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="remember-box">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, "次回以降自動ログイン" %>
      </div>
    <% end %>

    <div class="btn-position mt-3">
      <%= f.submit "ログイン", class: "btn-blue m-3" %>
      <%= link_to "Back", :back, class: "btn-black m-3" %>
    </div>
  <% end %>

</div>