<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h1>about me</h1>
      <h6>ユーザー名 : <%= @gamer.username %></h6>
      <h6>性別 : <%= @gamer.sex_i18n %></h6>
      <h6>年齢 : <%= @gamer.ages_i18n %></h6>
      <h6>お気に入り : <%= @gamer.favorite %></h6>
      <%= link_to 'ユーザー情報編集', edit_user_registration_path(@gamer.id) %>

      <div class="d-flex m-1">
        <div class="follower mr-2">
            <%= link_to followers_gamer_path(@gamer.id) do %>
              <h4 id="followers" class="text-dark"><%= @gamer.followers.count %></h4>
              <h6>フォロワー</h6>
            <% end %>
        </div> 
        <div class="follow">
            <%= link_to followings_gamer_path(@gamer.id) do %>
                <h4 class="text-dark"><%= @gamer.followings.count %></h4>
                <h6>フォロー</h6>
            <% end %>
        </div>
      </div>
      <h3>未クリア : <%= @not_clear_games.count %></h3>
      <h3>クリア済み : <%= @cleared_games.count %></h3>
      <h3>気になる : <%= @like.count %>

      <div id="follow_form">
        <%= render "/partial/follow_form" %>
      </div>
    </div>
  </div>
</div>