<!DOCTYPE html>
<html>
  <head>
    <title>TumiGamesApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'partial/shim' %>
  </head>
  <body>
    <%= render 'partial/header' %>
    <div class="yield-container">
      <%= yield %>
    </div>
  </body>
</html>
